@{
    ViewData["Title"] = "Contact";
}
<style>
    address {
        font-size: 15px;
    }
</style>
<div class="container body-content">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <font size="5"> <b>Serena Yu</b></font>, Ph.D<br />
    <address>
        Sydney, NSW, Australia<br />
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:serena.f.yu@gmail.com">serena.f.yu@gmail.com</a><br />
        <strong>Github: </strong> <a href="https://github.com/serena-yu17" target="_blank"> https://github.com/serena-yu17 </a>
    </address>
</div>