p {
    font-size: 15px;
}

.content-img {
    width: 100%;
    max-width: 800px;
}

.card {
    padding: 20px;
    margin: 20px;
}

th, td {
    width:1%;
    text-wrap: avoid;
    white-space: nowrap;
}